<script>
document.getElementById("posts").setAttribute("class", "active");
</script>
<h1><%= @post.comments.size %> comment(s) for <%= @post.title %></h1>
<p>
  <%= link_to 'New Comment', new_post_comment_path(@post) %> | 
  <%= link_to 'Back to Post', @post %>
</p>

<% for comment in @post.comments %>
    <p>
        <b><%=h comment.commenter %>: </b>
        <%=h comment.body %>
        <br/>
        <%=h comment.updated_at %>
    </p>
<% end %>

<% if @post.comments.size > 1 %>
  <%= link_to 'New Comment', new_post_comment_path(@post) %> | 
  <%= link_to 'Back to Post', @post %>
<% end %>
