<script>
document.getElementById("gifts").setAttribute("class", "active");
</script>
<h1>Our Wishlist</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
  <br />
<%end%>

<% form_for(:gift, :url => search_gifter_gifts_path) do |f| %>
  <%= f.error_messages %>
  <%= f.label "Enter your codename here to search for gifts you have already bagsed." %><br />
  <p>
  <%= f.label "Codename" %>
  <%= f.text_field :gifter %>
  <%= f.submit "Find" %>
  </p>
<% end %>

<table>
  <tr>
    <th>Gift</th>
    <th>Description</th>
  </tr>
  
  <% for gift in @gifts %>  
    <tr>  
      <td><%=h gift.name %></td>  
      <td><%=h gift.description %></td>  
      <td>
        <% if gift.gifter%>
          Taken
        <% else %>
          <%= link_to 'Bags', bags_gift_path(gift) %>
        <% end %>  
      </td> 
    </tr> 
  <% end %> 
</table> 
