<script>
document.getElementById("posts").setAttribute("class", "active");
</script>
<p>
  <b><%=h @post.title %></b>
  <br/>
  <%=h @post.content %>
</p>
  <% if @post.comments.size > 0 %>
    <hr>
    <b>Comments:</b><br/> <br/>
    <% @post.comments.each do |c| %>
      <p>
        <b><%=h c.commenter %>: </b>
        <%=h c.body %>
      </p>
    <% end %>
  <% else %>
    (No comments yet.) <br/> 
  <% end %>

<%= link_to 'New Comment', new_post_comment_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>
