<p>
  <b>Name:</b>
  <%=h @post.name %>
</p>

<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @post.content %>
</p>

<p>
  <b>Comments:</b>
  <% @post.comments.each do |c| %>
    <p>
      <b><%=h c.commenter %></b>
      <%=h c.body %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Manage Comments', post_comments_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>
